.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 40px 0 120px;
  width: 50%;
}

.title {
  font-size: 80px;
  font-weight: 600;
}

.profession {
  font-size: 32px;
  margin-bottom: 16px;
  font-weight: 400px;
}

.about {
  font-size: 16px;
  margin-bottom: 32px;
}

.buttonContainer {
  display: flex;
  justify-content: baseline;
  gap: 160px;
}

.buttonContainer button {
  display: flex;
  flex-direction: row;
  position: relative;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 4px;
  font-size: 24px;
  font-weight: 600;
}

.buttonContainer button svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  margin-left: 8px;
}

.buttonContainer button:hover {
  cursor: pointer;
}

.buttonContainer button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2px;
  background-color: #f0f6f5;
  transition:
    width 0.8s ease,
    background-color 0.8s ease;
}

.buttonContainer button:hover::after,
.buttonContainer button:focus::after {
  width: 100%;
  background-color: #00e0a5;
  box-shadow:
    0 4px 8px #00e0a5,
    4px 8px 16px #00e0a5,
    8px 16px 32px #00e0a5;
}

.imageContainer {
  position: relative;
  width: 50%;
  height: calc(100vh - 70px);
  overflow: hidden;
}

.imageContainer::before {
  content: '';
  position: absolute;
  bottom: -32%;
  left: 80%;
  transform: translateX(-50%);
  width: 120%;
  height: 120%;
  background-color: #00e0a5;
  border-radius: 50% 50% 50% 50%;
  z-index: 1;
  margin-right: 0;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    max-width: 100%;
    margin: 0;
  }

  .info {
    margin: 0;
    max-width: 100%;
  }

  .title {
    font-size: 32px;
  }

  .profession {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .about {
    font-size: 12px;
    margin-bottom: 16px;
  }

  .buttonContainer {
    justify-content: space-between;
    gap: 40px;
  }

  .buttonContainer button {
    font-size: 20px;
  }

  .imageContainer::before {
    left: 50%;
    border-radius: 50% 50% 0 0;
  }

  .image {
    margin-top: 20px;
  }
}
