.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 600;
}

@media (max-width: 649px) {
  .container {
    grid-template-columns: 1fr;
    gap: 8px;
    padding: 8px;
    margin: 0;
    width: 100%;
  }
}
