.container {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  /* width: auto; */
}

.title {
  margin-top: 0;
  font-size: 32px;
  margin-bottom: 16px;
  font-weight: 600;
}

.experience {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 24px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 24px;
}

.table {
  margin-top: 12px;
  width: 100%;
  overflow-x: auto;
}

.table td {
  padding: 4px;
  min-width: 100px;
}

.years {
  width: 100px;
}

.specialization,
.part {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: left;
}

.part {
  height: 32px;
  margin-bottom: 0;
}

.info {
  font-size: 16px;
  padding: 0;
  padding-bottom: 40px;
}

.skillsPart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 16px;
  height: auto;
  margin: 12px 0 24px 0;
  overflow: hidden;
}

.skillsIcon {
  font-size: 40px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 649px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    margin: 0;
    width: 100%;
  }

  .experience,
  .skills {
    display: flex;
    width: 100%;
    margin: 16px;
  }

  .skillsPart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 16px;
    height: auto;
    margin: 12px 0 24px 0;
    overflow: hidden;
  }

  .title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 0;
  }

  .years {
    font-size: 14px;
  }

  .specialization,
  .part {
    text-align: center;
    font-size: 16px;
    margin: 12px 0;
    display: flex;
    align-items: center;
  }

  .info {
    font-size: 14px;
    text-align: justify;
    height: auto;
  }

  .table {
    width: 100%;
    overflow-x: auto;
  }

  .table td {
    padding: 4px;
    min-width: 100px;
  }
}

@media (min-width: 650px) and (max-width: 1024px) {
  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    width: auto;
  }

  .experience,
  .skills {
    margin-top: 0;
  }

  .title {
    font-size: 28px;
    margin-bottom: 0;
  }

  .info {
    padding-bottom: 20px;
  }

  .part {
    font-size: 16px;
  }

  .skillsPart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    height: auto;
    margin: 16px 0 24px 0;
  }

  .skillsIcon {
    font-size: 40px;
  }
}

@media (min-width: 1025px) {
  .skills {
    width: 40%;
  }

  .skillsPart {
    grid-template-columns: repeat(5, 1fr);
  }
}
